# Compiled Python files
*.pyc
__pycache__/

# PyCharm files
.idea/

# Mac files
.DS_Store

# Environment files
.env
venv/

# Log files
*.log

# Checkpoints
teacher_checkpoint/

# Training outputs
test_output/
test_data/
bert_model_dense_attn_adam_outputs/

# Misc
*.swp